.github-public-activity {
    padding: 16px;
}

.github-public-activity .heading {
    font-size: 18px;
}

.github-public-activity .event img {
    margin: 8px;
    float: left;
}

.github-public-activity .event-info-container {
    display: inline-block;
    width: calc(100% - 70px);
    margin: 8px;
}
